@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
